$github-button: #ffffff;
$revolutionary-editor-header: #635C73;
$revolutionary-editor-header-p: #323232;
$here-is-what-you-get: #8D81AC;
$here-is-what-you-get-background: #f4f4f4;
$white: #ffffff;
$card-background: #715965;
$special-card-background: #4d354a;
$subscribtion-price: #4a3b4e;
$card-bar: #8D81AC;
$purchase-btn-background: #79636b;