@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin montserrat-400 {
    font-family: Montserrat;
    font-weight: 400;
}

@mixin montserrat-700 {
    font-family: Montserrat;
    font-weight: 700;
}

@mixin icons-text-caption {
    @include montserrat-400();
    color: #323232;
    font-size: 16px;
    line-height: 21px;
    word-wrap: break-word;
    margin-bottom: 15px;
}

@mixin icons-text-p {
    @include montserrat-400();
    color: #848E97;
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~``
// Sviatoslav 

@mixin montserrat400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  @mixin montserrat700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  @mixin lato400 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  @mixin lato700 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  @mixin latoIt700 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
  }
  
  @mixin latoIt400 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  
  @mixin font16 {
    font-size: 16px;
  }
  
  @mixin font48 {
    font-size: 48px;
  }
  
  @mixin flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    