.people-are-talking-about-fork {
    margin: 0 auto;
    background-image: url("../img/people__talking-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 10px;
  }
  
  .main__wrapper {
    display: grid;
    grid-template-areas:
  "main1 main2 main3"
  "main4 main5 main6";
    justify-content: center;
    gap: 110px;
  }
  
  .first-item {
    grid-area: main1;
    position: relative;
  }
  
  .second-item {
    grid-area: main2;
    position: relative;
  }
  
  .third-item {
    grid-area: main3;
    position: relative;
  }
  
  .fourth-item {
    grid-area: main4;
    position: relative;
  }
  
  .fifth-item {
    grid-area: main5;
    position: relative;
  }
  
  .sixth-item {
    grid-area: main6;
    position: relative;
  }
  
  
  .people-title {
    @include font48;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 70px;
  }
  
  .main__item {
    max-width: 316px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .people__text {
    margin-top: 25px;
    @include latoIt400;
    @include font16;
    color: $white;
    line-height: 24px;
  }
  
  .people__subtext {
    color: $gray;
    font-size: 14px;
    @include lato400;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 60px 0 20px;
    line-height: 21px;
  
  }
  
  .hamburger {
    position: absolute;
    top: 3%;
    right: 3%;
    display: none;
    cursor: pointer;
    padding: 10px 12px;
    z-index: 10;
  }
  
  .bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 4px auto;
    transition: all 0.3s linear;
    background: $white;
    border-radius: 10px;
    &:first-child {
      width: 15px;
      display: flex;
      margin-left: 4px;
    }
  }
  
  .hamburger.active .bar:nth-child(1) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-2px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  @media screen and (min-width: 993px) and (max-width: 1200px) {
  
    .main__wrapper {
      display: grid;
      grid-template-areas:
      "main1 main2"
      "main3 main4"
      "main5 main6";
      justify-content: space-evenly;
      gap: 40px;
    }
  
    .main__item {
      max-width: 316px;
      text-align: center;
      margin-bottom: 20px;
    }
    .fourth-item {
      grid-area: main4;
      position: relative;
      margin-top: 40px;
    }
  
  
  }
  
  
  @media screen and (min-width: 481px) and (max-width: 992px) {
  
    .header__logo-item {
      order: 1;
      flex-basis: 50%;
      box-sizing: border-box;
    }
    .main__wrapper {
      display: grid;
      grid-template-areas:
      "main1 main2"
      "main3 main4"
      "main5 main6";
      justify-content: space-evenly;
      gap: 40px;
    }
  
    .main__item {
      max-width: 316px;
      text-align: center;
      margin-bottom: 20px;
    }
    .fourth-item {
      grid-area: main4;
      position: relative;
      margin-top: 40px;
    }
  
    .nav {
      background-color: $mob__nav;
      height: 120px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .header__nav-links {
      margin-top: 100px;
    }
  
    .nav__links {
      order: 3;
      justify-content: space-between;
      display: flex;
      margin: 0 auto;
      flex-basis: 100%;
      max-width: 520px;
    }
  
    .people__subtext {
      max-width: 710px;
      padding: 20px 0 20px;
    }
  
    .header__btn {
      order: 2;
      flex-basis: content;
      box-sizing: border-box;
      justify-self: end;
    }
  
    .nav__link-item {
      margin: 0;
    }
  
  }
  
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
  
    .nav {
      background-color: $mob__nav;
      position: relative;
      height: 100px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
    }
  
    .header__logo-link {
      display: none;
    }
  
    .hamburger {
      display: block;
      margin-top: 25px;
    }
  
    .nav__links {
      position: absolute;
      z-index: 1;
      top: 100%;
      max-width: 290px; /* Добавлено */
      flex-direction: column;
      display: none;
      background-color: $hamb;
      min-height: 380px;
      margin: 0 auto;
  
  
      &.active {
        transition: all 0.5s linear;
        display: flex;
      }
    }
  
    .nav__link {
      @include lato400;
      font-size: 30px;
      padding: 30px 0 30px 40px;
      display: flex;
  
  
    }
  
    .nav__link-item {
      min-width: 290px;
      border-bottom: 2px #3b3b3b solid;
    }
  
    .nav__link:active::before, .nav__link:focus::before {
      content: "";
      position: absolute;
      height: 53px; /* Высоту, ширину и цвет квадратика можно менять по вашему усмотрению */
      width: 8px;
      background-color: $purple;
      left: 1px;
      transform: translateY(-20%)/* Подберите это значение, чтобы квадратик был именно слева от ссылки */
    }
  
    .header__btn {
      padding: 9px 21px;
      margin: 0 auto;
      order: 2;
    }
  
    .people__subtext {
      max-width: 250px;
      padding: 0 0 20px;
    }
  
    .middle__title {
      @include font48;
    }
  
    .people-title {
      font-size: 36px;
      line-height: 48px;
      padding-top: 50px;
      margin-bottom: 35px;
    }
  
    .middle__subtitle {
      font-size: 18px;
      max-width: 300px;
      margin: 0 auto;
      padding-bottom: 10px;
      line-height: 24px;
    }
  
    .main__wrapper {
      display: grid;
      grid-template-areas:
      "main1 "
      "main2"
      "main3"
      "main4"
      " main5"
      " main6";
      margin: 0 auto;
      gap: 0;
    }
  
    .main__item {
      max-width: 290px;
      text-align: center;
    }
  
   .big__header-btn {
     max-width: 290px;
     max-height: 45px;
     padding: 14px 0;
   }
  
    .text {
      width: 240px;
      margin: 0 auto;
    }
  
  }